*{
    margin: 0;
    padding: 0;
}
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #3296fa;
    
  }
  .navbar .van-nav-bar__title{
    max-width: unset;
    color: #fff;
  }

  .navbar .van-icon{
    color: #fff;
  }